{% include 'EskoolyApp/sidebar.html' %}
{% load static %}
{% load crispy_forms_tags %}
<style media="screen">
  #showhideinstform{
    display: none;

  }
  #showhiderulesform{
    display: none;

  }
  #showhidefeesform{
    display: none;

  }
</style>
<script src="https://use.fontawesome.com/0a087d3bc2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" >
$(document).ready(function(){
  $('.showinstitutebtn').click(function(){
      $('#showhideinstform').show(500);
      $('.showinstitutebtn').hide(500);

      $('#showinstinfo').hide(500);
      $('#showhiderulesform').hide(500);
      $('#showhidefeesform').hide(500);
    });
    $('.showrulesbtn').click(function(){
      $('#showhiderulesform').show(500);
        $('#showhideinstform').hide(500);
        $('.showinstitutebtn').hide(500);
        $('#showinstinfo').hide(500);
        $('.showrulesbtn').hide(500);
        $('#showhidefeesform').hide(500);
        $('.showfeesbtn').hide(500);
      });
      $('.showfeesbtn').click(function(){
        $('#showhidefeesform').show(500);
        $('#showhiderulesform').hide(500);
          $('#showhideinstform').hide(500);
          $('.showinstitutebtn').hide(500);
          $('#showinstinfo').hide(500);
          $('.showrulesbtn').hide(500);
        });



});
</script>
<div class="container col-lg-4">
  <center>
    <form id="showinstinfo" action="" method="post">



    {% for data in inst_info %}
    <img src = "{{data.logo.url}}" width="100px" height="100px"><br>
    {{data.institute_name}}<br>
    {{data.target_line}}<br>
    <p style="color:#808080";><i class="fa fa-phone" aria-hidden="true"></i>{{data.phone}}| <i class="fa fa-envelope-o" aria-hidden="true"></i>anshuman@systango.com| <i class="fa fa-globe" aria-hidden="true"></i>{{data.website}}</p><br>
    <p style="color:#808080";><i class="fa fa-road" aria-hidden="true"></i>{{data.address}}<br>
      <i class="fa fa-globe" aria-hidden="true"></i>{{data.location}}
    </p>
    {%endfor%}
  </center>
  </form>
<center><button class="showinstitutebtn btn btn-primary">Changes</button></center>
    <form id="showhideinstform" method="post" enctype="multipart/form-data">
      {{institute_info_form|crispy}}
      {% csrf_token %}
      <input type="submit" class="btn btn-lg btn-info btn-block" value="Save">
    </form>
    <br><br>
<center><button class="showrulesbtn btn btn-primary">Rules & regulations</button> | <button class="showfeesbtn btn btn-primary">Fee Particulars</button></center>
<form id="showhiderulesform" method="post" action="" enctype="multipart/form-data">
  {{rules_form|crispy}}
  {% csrf_token %}
  <input type="submit" class="btn btn-lg btn-info btn-block" value="save">

</form>
<form id="showhidefeesform" method="post" action="" >
  {{fees_form|crispy}}
  {% csrf_token %}
  <input type="submit" class="btn btn-lg btn-info btn-block" value="save">

</form>
</div>
